@import "../../../assets/scss/variables.scss";

.detail-wrapper {
  position: absolute;
  inset: 0px;

  height: 100%;
  width: 100%;

  background-color: white;
  border-radius: 20px;

  z-index: $medium-priority;

  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &.open {
    opacity: 1;

    transform: translate(0);
    transition: all 0.5s ease-in-out;
  }

  &.close {
    opacity: 0;

    transform: translate(100%);
    transition: all 0.5s ease-in-out;
  }

  .detail-header {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;

    width: 100%;

    padding: 12.5px 20px;

    color: $base-color;

    background-color: white;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 0.5px solid rgba(226, 226, 226, 0.8);

    .back-button {
      all: unset;

      height: 30px;
      width: 30px;

      margin: 0 5px;

      cursor: pointer;
    }
  }

  .detail-content {
    height: 100%;
    width: 100%;

    padding: 55px 0px 25px 0px;

    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .detail-content-section {
      margin: 20px auto;

      .title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .description {
        display: block;

        font-size: 0.95rem;
        color: rgb(125, 125, 125);
      }

      .button-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 10px;

        button {
          all: unset;

          height: 25px;
          line-height: 27.5px;
          width: 50px;

          margin: 0px 5px;

          color: white;
          font-size: 0.95rem;
          background-color: $base-color;
          border-radius: 10px;

          cursor: pointer;

          transition: box-shadow 0.25s;

          &:hover {
            box-shadow: rgb(115, 115, 225) 0px 0px 0px 2px inset;
          }
        }
      }
    }

    .divider {
      width: calc(100% - 25px);
      margin: 10px;
      border-top: 1px solid rgb(239, 239, 240);
    }
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-evenly;
  grid-gap: 10px;

  padding: 0 10px;

  .image {
    height: 100px;
    width: 100px;

    object-fit: cover;
  }
}
