.custom-overlay-wrapper {
  position: absolute;
  left: -100px;
  bottom: 50px;

  height: 200px;
  width: 200px;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px;
  background-color: white;

  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  .custom-overlay {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .image {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }
}
