.custom-overlay-wrapper {
  position: absolute;
  left: -100px;
  bottom: 50px;

  height: 200px;
  width: 200px;

  box-sizing: border-box;
  cursor: pointer;

  .custom-overlay {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px, rgba(255, 255, 255, 0.2) 0px 0px 0px;

    overflow: hidden;

    .image {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }

  .custom-overlay-left-arrow,
  .custom-overlay-right-arrow {
    position: absolute;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 40px;

    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px, rgba(255, 255, 255, 0.2) 0px 0px 0px;

    font-size: 20px;
    font-weight: bold;

    transform: translateY(-50%);
  }

  .custom-overlay-left-arrow {
    left: -40px;

    border-radius: 10px 0 0 10px;
  }
  .custom-overlay-right-arrow {
    right: -40px;

    border-radius: 0 10px 10px 0;
  }
}
