@mixin hide-vertical-scroll-bar {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
