/* Colors */
$base-color: rgb(155, 150, 255);
$highlight-color: rgb(75, 65, 255);
$disabled-color: rgb(155, 155, 155);
$error-color: rgb(255, 80, 80);

/* z-indices */
$urgent-priority: 30;
$high-priority: 10;
$medium-priority: 5;
$low-priority: 1;
