.journey-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: space-evenly;
  grid-gap: 20px 15px;

  height: 100%;
  width: 100%;

  padding: 75px 20px 25px 20px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
