@import "../../assets/scss/variables.scss";

.explorer-wrapper {
  position: absolute;
  bottom: 40px;
  right: 40px;

  height: 40vh;
  width: 50vw;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px;
  border-radius: 20px;

  z-index: $medium-priority;

  overflow: hidden;

  transform-origin: bottom right;

  &.active {
    opacity: 1;

    transform: scale(1);
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  }

  &.deactive {
    opacity: 0;

    transform: scale(0);
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
