.explorer-wrapper {
  position: absolute;
  bottom: 65px;
  right: 65px;

  height: 40vh;
  width: 50vw;

  padding: 30px 20px;

  background-color: white;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 2.5px 2.5px 10px gray;

  z-index: 5;

  box-sizing: border-box;

  .explorer-content {
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-evenly;
    grid-gap: 10px 20px;

    height: 100%;
    width: 100%;

    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
