@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.explorer-wrapper {
  position: absolute;
  bottom: 40px;
  right: 40px;

  height: 40vh;
  width: 50vw;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px;
  border-radius: 25px;

  z-index: 5;

  overflow: hidden;
  overflow-y: scroll;

  transform-origin: bottom right;

  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transform: scale(1);
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  }

  &.deactive {
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .explorer-header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 20px;

    background-color: rgba(105, 94, 201, 0.5);

    z-index: 5;

    .create-button {
      all: unset;

      height: 30px;
      width: 100px;

      margin: 0 5px;

      font-family: "ONE-Mobile-POP";
      color: white;

      background-color: rgba(105, 94, 201, 0.75);
      border-radius: 5px;

      cursor: pointer;
    }

    .spacer {
      flex: 1;
    }

    .close-button {
      all: unset;

      height: 30px;
      width: 30px;

      margin: 0 5px;

      font-family: "ONE-Mobile-POP";
      color: white;

      cursor: pointer;
    }
  }

  .explorer-content {
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
    grid-gap: 30px 15px;

    width: 100%;

    padding: 25px 0;

    box-sizing: border-box;
  }
}
