@import "../../../assets/scss/variables.scss";

.journey {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 175px;
  width: 150px;

  padding: 10px 10px 0px 10px;
  margin: 0 auto;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 16px 1px;
  border-radius: 10px;

  transition: box-shadow 0.25s;

  cursor: pointer;

  &:hover {
    box-shadow: rgba($base-color, 0.6) 0px 2px 16px 2px;
  }
}

.journey img {
  height: 125px;
  width: 125px;

  object-fit: cover;
}

.journey span {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 150px;

  font-family: "ONE-Mobile-POP";
  font-size: 1rem;
}
