@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.journey-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 0.5px solid rgba(226, 226, 226, 0.8);
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba($base-color, 0.075);
  }

  .title-wrapper,
  .desc-wrapper {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
  }

  .title-wrapper {
    margin-bottom: 10px;

    .title {
      @include text-ellipsis;
      max-width: 250px;
      font-size: 1em;
      font-weight: bold;
    }

    .spacer {
      flex: 1;
    }

    .elapsed {
      font-size: 0.75em;
      color: rgb(160, 160, 160);
    }
  }

  .desc-wrapper {
    .description {
      @include text-ellipsis;
      width: 100%;
      font-size: 0.85em;
      text-align: start;
    }
  }
}
