.photo-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-evenly;
  grid-gap: 10px;

  padding: 0 15px;

  .photo-cell {
    position: relative;

    height: 100px;
    width: 100px;

    &.shake {
      transform-origin: top;
      animation-name: shiver;
      animation-duration: 1s;
      animation-play-state: running;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .image {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }

    .delete-button {
      all: unset;
      position: absolute;
      top: -5px;
      right: -5px;

      height: 20px;
      width: 20px;
      font-size: 20px;

      background-color: rgb(210, 210, 210);
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px,
        rgba(0, 0, 0, 0.55) 0px 8px 30px, rgba(255, 255, 255, 0.7) 0px 0px 0px;

      cursor: pointer;
    }
  }
}

@keyframes shiver {
  0% {
    transform: rotate(3deg);
  }

  25% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
