@import "../../../assets/scss/variables.scss";

.header-wrapper {
  position: absolute;
  top: 0;

  width: 100%;
  min-width: 360px;
  max-width: 420px;

  padding: 0px 16px;

  background-color: white;

  .heading {
    display: flex;

    height: 40px;
    width: 100%;

    line-height: 40px;
    font-size: 1.5rem;
  }
}
