@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.bubble {
  position: absolute;
  bottom: 25px;
  right: 25px;

  height: 50px;
  width: 50px;

  background-color: white;
  border-radius: 50px;
  box-shadow: 2.5px 2.5px 10px gray;

  z-index: 5;

  transform-origin: center;

  &.active {
    transform: scale(1);
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  }

  &.deactive {
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
